* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h1 , h2 {
	color: #ddde67;
	text-align: center;
	font-family: Inter;
}


footer {
	text-align: center;
	color: ;
	font-size: 15px;
	padding-top: 20px;
	font-family: Raleway;
}

.main-headers {
	background-image: url(../img/img13.png);
	height: 200px;
	padding-top: 50px;
	background-position: center;
	background-size: cover;
}


.content {
	width: 70%;
	margin: auto;
}

html {
	background-color: #c0e8ab;
}

.menu {
	width: 100%;
	padding: 20px 0;
	background-color: #c0e8ab;
	margin-bottom: 40px;
}

.menu td{
	text-align: center;
	max-width: 50px;
}

button {
	font-size: 15px;
	padding: 5px 15px;
	border-radius: 30px;
	background-color: #c8dbbE;
}

.menu button:hover {
	transform: scale(1.1);
	transition: 0.5s;
	background-color: #99c482;
}

p {
	margin: 30px 0;
	font-family: Raleway;
}